[submodule "miniLib/mini-auth"]
	path = miniLib/mini-auth
	url = git@github.com:jeportie/mini-auth.git
[submodule "miniLib/mini-fetch"]
	path = miniLib/mini-fetch
	url = git@github.com:jeportie/mini-fetch.git
[submodule "miniLib/mini-router"]
	path = miniLib/mini-router
	url = git@github.com:jeportie/mini-router.git
