/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   input.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jeportie <jeportie@42.fr>                  +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2025/07/23 14:56:04 by jeportie          #+#    #+#             */
/*   Updated: 2025/11/22 09:55:31 by jeportie         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

/* --- Global style stack --- */
@import "./styles/base.css";
@import "./styles/utilities.css";
@import "./styles/Landing.css";
@import "./styles/App.css";
@import "./styles/Arcade.css";
@import "./styles/loaders.css";

/* --- Transitions --- */
@import "./styles/transitions/base.css";
@import "./styles/transitions/fade.css";
@import "./styles/transitions/slide.css";
@import "./styles/transitions/zoom.css";
@import "./styles/transitions/slide-push.css";
@import "./styles/transitions/track.css";

