<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- activate.html                                      :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: jeportie <jeportie@42.fr>                  +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2025/10/06 13:36:54 by jeportie          #+#    #+#            -->
<!-- Updated: 2025/10/06 14:47:35 by jeportie         ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<div class="ui-card">
    <h1 class="ui-title flex justify-center">Account Activated!</h1>
    <div class="flex justify-center">
        <p class="ui-text">Your account is now active. You can login normaly
        </p>
    </div>
    <p class="ui-btn-secondary mt-3 flex justify-center">
        <a href="/login" data-link class="ui-hint-link">Login</a>
    </p>
</div>
