<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- dashboard.html                                     :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: jeportie <jeportie@42.fr>                  +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2025/09/23 13:25:10 by jeportie          #+#    #+#            -->
<!-- Updated: 2025/10/17 11:55:16 by jeportie         ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<h1 class="ui-title">Dashboard</h1>
<div class="ui-card">
    <p class="ui-text-muted">Welcome to your SPA dashboard!</p>
    <div id="dashboard-info-div" class="mt-2 ui-text-small">Loading user info...</div>
</div>
