<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- notActive.html                                     :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: jeportie <jeportie@42.fr>                  +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2025/10/06 13:36:54 by jeportie          #+#    #+#            -->
<!-- Updated: 2025/10/06 13:36:56 by jeportie         ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<div class="ui-card-error">
    <h1 class="ui-title flex justify-center">Account Not Activated!</h1>
    <div class="flex justify-center">
        <p class="ui-text-error">Sorry, your account is not active yet. Please
            validate your account with the validation link we sent you by email.
        </p>
    </div>
    <p class="ui-btn-secondary mt-3 flex justify-center">
        <a id="inactive-back-btn" href="/login" data-link class="ui-hint-link">Back to Login</a>
    </p>
</div>
