<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- notActive.html                                     :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: jeportie <jeportie@42.fr>                  +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2025/10/06 13:36:54 by jeportie          #+#    #+#            -->
<!-- Updated: 2025/10/06 13:36:56 by jeportie         ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<div class="ui-card-error">
    <h1 class="ui-title flex justify-center">Account Not Activated!</h1>
    <div class="flex justify-center mt-4">
        <p id="inactive-p" class="ui-text-error"></p>
    </div>
    <button id="inactive-retry-btn" class="ui-btn-secondary w-full mt-1">Resend Link</button>
    <p class="ui-text-small mt-3">
        <a id="inactive-back-btn" href="/login" data-link class="ui-hint-link">Back to Login</a>
    </p>
</div>
