<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- ActivateMail2FA.html                               :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: jeportie <jeportie@42.fr>                  +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2025/11/18 15:30:50 by jeportie          #+#    #+#            -->
<!-- Updated: 2025/11/18 16:39:09 by jeportie         ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<template>
    <h1 class="app-card-title mb-2">Email Verification</h1>
    <span id="activate-mail-f2a-status-tag-span" class="app-status-tag-disabled mb-4"></span>
    <p id="activate-mail-f2a-text" class="app-text mb-4"></p>
    <form id="activate-mail-2fa-otp-form" class="flex flex-col items-center gap-4 w-full">

        <otp-input id="activate-mail-2fa-otp-input" digits="6" position="3" class="mt-2"></otp-input>

        <button id="activate-mail-2fa-otp-submit-btn" class="app-btn-primary w-full mt-4">
            Verify
        </button>

        <button id="activate-mail-2fa-resend-btn" type="button" class="app-btn-secondary w-full mt-2">
            Resend Code
        </button>
    </form>
</template>
