<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- check2FA.html                                      :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: jeportie <jeportie@42.fr>                  +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2025/11/01 13:12:40 by jeportie          #+#    #+#            -->
<!-- Updated: 2025/11/01 18:04:06 by jeportie         ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<template>
    <p class="app-text mb-4">
        Enter your current authenticator code to change your password.
    </p>
    <form id="check-2fa-form" class="flex flex-col items-center gap-4">
        <otp-input id="check-2fa-otp-input" length="6" position="3" class="mt-2"></otp-input>
        <button id="check-2fa-form-btn" class="app-btn-primary w-full mt-4">Submit</button>
    </form>
    <button id="check-2fa-goto-backup-btn" type="button" class="app-btn-primary w-full mt-4">
        Use another Authentication methode
    </button>
</template>
