<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- CheckBackup.html                                   :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: jeportie <jeportie@42.fr>                  +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2025/11/01 13:14:03 by jeportie          #+#    #+#            -->
<!-- Updated: 2025/11/02 18:58:30 by jeportie         ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<template>
    <p id="check-backup-title" class="app-text mb-4"></p>
    <form id="check-backup-form" class="flex flex-col items-center gap-4">
        <otp-input id="check-backup-otp-input" length="8" position="4" class="mt-2"></otp-input>
        <button id="check-backup-form-btn" class="app-btn-primary w-full mt-4">Submit</button>
    </form>
    <button id="check-backup-goto-2fa-btn" type="button" class="app-btn-primary w-full mt-4">
        Use another Authentication methode
    </button>
</template>
