<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- notFound.html                                      :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: jeportie <jeportie@42.fr>                  +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2025/09/23 13:34:21 by jeportie          #+#    #+#            -->
<!-- Updated: 2025/10/31 14:06:17 by jeportie         ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<h1 class="ui-title">Not Found</h1>
<div class="ui-card-error">
    <p class="ui-text-error">Sorry, the page you are looking for was not found.</p>
</div>
