<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- backupLogin.html                                   :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: jeportie <jeportie@42.fr>                  +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2025/09/23 13:16:20 by jeportie          #+#    #+#            -->
<!-- Updated: 2025/10/15 15:53:28 by jeportie         ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<div id="backup-card" class="ui-card">
    <h2 class="ui-card-title">Backup Code</h2>

    <form id="backup-form" class="ui-form mt-4">
        <otp-input id="backup-otp" length="8" position="4" divclass="flex justify-between gap-2 mb-4 w-full"
            inclass="backup-input" submit="auto"></otp-input>
    </form>
    <div id="backup-error-div" class="ui-error hidden mt-2"></div>

    <button id="backup-previous-btn" class="ui-btn-secondary w-full mt-2">
        Back to 2fa
    </button>

</div>
