<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- PlayerSelectMode.html                              :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: jeportie <jeportie@42.fr>                  +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2025/11/24 11:58:24 by jeportie          #+#    #+#            -->
<!-- Updated: 2025/11/24 11:58:28 by jeportie         ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<template>
    <div class="ui-card-inner flex flex-col gap-4">

        <button id="select-login-btn" class="ui-btn-primary w-full">
            Login with account
        </button>

        <button id="select-guest-btn" class="ui-btn-secondary w-full">
            Continue as Guest
        </button>

    </div>
</template>
